@use "global" as *;

.p-drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $gray03;
  z-index: 5000;
  overflow-y: auto;
}


.p-drawer__inner {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  padding: rem(32) 0;
}

.p-drawer__wrapper {
  margin: auto;
}

.p-drawer__nav-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: rem(32);
}

.p-drawer__nav-items {
  display: flex;
  flex-direction: column;
}

.p-drawer__nav-item {
  text-align: center;
}

.p-drawer__nav-link {
  display: inline-block;
  padding: rem(32) 0;
}

.p-drawer__buttton {
  margin-top: rem(32);
}

.p-drawer__button-items {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

