@use "global" as *;

.l-footer {
  padding-top: rem(32);

  @include mq("md") {
		padding-top: rem(102);
  }
}

.l-footer.l-footer--margin {
  padding-top: rem(112);

  @include mq("md") {
		padding-top: rem(206);
  }
}